#------------------------------------------------------#
#	BixBite CMS | http://bixbite.site/ #
#------------------------------------------------------#

<files *.tpl>
order allow,deny 
deny from all
</files>