@import url("https://fonts.googleapis.com/css?family=Ubuntu:300");
html,
body {
	height: 100%;
}
body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	 font-size: 15px;
	background-color: #fff;
	color: #111;
}

#loader {
 display: block;
 position: relative;
 top: 40%;
}
.well {
 width: 280px;
 max-width: 100%;
 padding: 24px;
 margin: 8% auto 0;
}

.copyright, .copyright a {
	text-align: center;
	color: #888;
	font-size: 12px;
	margin: 0;
}
