/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	/*padding-top: 6rem;
	/*padding-bottom: 3rem;*/
	color: #5a5a5a;
	font-weight: 400;
}
button, input, optgroup, select, textarea {
	font-weight: inherit;
	font-family: inherit;
}

img {
	max-width: 100%;
	height: auto;
}
.img-fluid {
    width: 100%;
    height: auto;
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
}
.btn {
  letter-spacing: 1px;
  cursor: pointer;
}
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
  .btn-group-justified .btn,
  .btn-group-justified .btn-group {
	float: none;
	display: table-cell;
	width: 1%; }
	.btn-group-justified .btn .btn,
	.btn-group-justified .btn-group .btn {
	  width: 100%; }
	.btn-group-justified .btn .dropdown-menu,
	.btn-group-justified .btn-group .dropdown-menu {
	  left: auto; }
	  
@media (max-width: 992px) {
	.header-top .row {
		margin-left: -30px; /* BUG */
	}
}
.header-top {
   padding: .5rem 0;
   border-bottom: 1px solid;
   font-size: .8rem;
}

#mainNav {
	padding: 0;
	position: static;
	z-index:1030;
	top: -56px; /* to animate */
	left: 0;
	width: 100%;
	-webkit-transition: top 500ms ease;
	-moz-transition: top 500ms ease;
	-o-transition: top 500ms ease;
	transition: top 500ms ease;

	
}
#mainNav .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#mainNav .navbar-nav .btn {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.scrollActive #mainNav {
	position: fixed;
}
.navbar-nav > li.nav-item .dropdown-menu  {
    border: 0;
	border-radius: 0;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	margin-top: 0;
	}
.navbar-nav > li.nav-item .dropdown-menu a.bg-inverse:focus,
.navbar-nav > li.nav-item .dropdown-menu a.bg-inverse:hover {
    background-color: transparent!important;
}
.navbar-toggler {
	border: 0;
}
.breadcrumb-container i.fa {
    padding-right: 8px;
}
.breadcrumb {
	padding: .563rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
}
.breadcrumb > li a, .breadcrumb > li i {
    color: #888;
}
.section {
	margin-top: 2.5rem;
}
.section-title {
	font-size: 2rem;
	font-weight: 300;
	    padding-bottom: 9px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #eee;
}
.section-subcontent {
    padding-bottom: 2.5rem;
}
.article-item-wrapper {
    background: #fff;
    padding: 15px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	margin-bottom: 40px;
}
.article-item-img {
    position: relative;
}
.article-item-img img {
    width: 100%;
}
.article-item-text {
    margin-top: 15px;
	font-size: 14px;
    font-weight: 300;
}
.article-item-text h3 {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    text-align: left;
}
.article-item-text h3 a {
    color: #555;
}
.article-item-text h3 a:hover {
    color: #0275d8;
}
.article-item-text .article-one-footer {
    padding: 10px 0px 0px;
    border-top: 1px dashed #ddd;
}
.article-item-text .article-one-footer a,
.article-item-text .article-one-footer span {
	display: inline-block;
    font-size: 12px;
    padding-right: 15px;
    color: #999;
}
.article-item-text .article-one-footer i,
.article-item-text .article-one-footer a:hover {
    color: #0275d8;
}
.widget {
	margin-bottom: 2.5rem;
}
.widget-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
	font-weight: 400;
}
.widget ul,
.widget ol {
	margin-bottom: 0;
}
.widget-popular .tabs {
 list-style: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 display: table;
 width: 100%;
}
.widget-popular .tabs li {
 margin: 0;
 padding: 0;
 display: table-cell;
 float: none;
}
.widget-popular .tabs li a {
 padding: 4px 8px;
 color: #fff;
 background: #0275d8;
 transition: background .5s, color .5s;
}
.widget-popular .tabs li a:hover {
 background: #08c;
 color: #fff;
}
.widget-popular .tabs li .active,
.widget-popular .tabs li .active:hover {
 color: #0275d8;
 background: #fbfbfb;
 display: block;
}

.widget-popular .tab-content {
 background: #fbfbfb;
 margin-top: -1px;
}
.widget-popular .tab-content .tab-pane {
 padding: 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
.carousel .carousel-item:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: transparent none repeat 0 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpiZmBgmAnEjMwgAogZAAIMAAjQAKJamcscAAAAAElFTkSuQmCC');
	}
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.marketing .rounded-circle {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 6rem;
    height: 6rem;
    background: none;
    border: 0.15rem solid #696b6e;
}
.jumbotron {
  
}

/* User profile
-------------------------------------------------- */

.table-user-information label {
    font-weight: 400;
}
.table-user-information > tbody > tr {
    border-top: 1px solid #eceeef;
}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.table-user-information td,
.table-user-information th {
    padding: .5rem;
}
/* Share news
-------------------------------------------------------------- */
.post-share {
  /*margin: 1em 0;
  text-align: center;*/
}
.post-share .share-btn {
	display: inline-block;
	padding: 0.4em;
	text-decoration: none;
	color: #888;
	min-width: 40px;
	text-align: center;
	border-radius: 4px;
}
.post-share .share-btn:hover {
	color: #fff;
}
.post-share .share-btn.facebook:hover {background-color: #4f69a2;}
.post-share .share-btn.vk:hover {background-color: #48729e;}
.post-share .share-btn.ok:hover {background-color: #eb722e;}
.post-share .share-btn.mm:hover {background-color: #168de2;color:#ffa930;}
.post-share .share-btn.gplus:hover {background-color: #dc4e41;}
.post-share .share-btn.twitter:hover {background-color: #00aced;}
.post-share .share-btn.whatsapp:hover {background-color: #65bc54;}
.post-share .share-btn.print:hover {background-color: #888;}
/* BBcodes
-------------------------------------------------------------- */
.bbcodes {
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    color: #b0bac2;
	background-color: #fff;
}
.bbcodes .btn {
    padding: 8px 1px;
}
.bbcodes >.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0;
}
.bbcodes >.btn:last-child:not(:first-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
}
.bbcodes .btn:hover {
    color: #444;
}
/* SPOILERs */
.spoiler {
 margin: 10px 0;
 padding: 0px;
 clear: both;
}
.sp-head {
 border: 1px solid #ccc;
 background: #eee;
 padding: 2px 4px;
 cursor: pointer;
 color: #888;
}
.spoiler .sp-head b {}
.spoiler .sp-head b.expanded {}
.sp-body {
 display: none;
 border: 1px solid #ccc;
 border-top: 0;
 padding: 4px 8px;
}
/* Comments
-------------------------------------------------------------- */
.message-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.comment-list .comment {
	border-color: #eaeaea;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 36px;
}
.comments-list .comment-content {
	position: relative;
	padding: 36px 0px 0px 0px;
}
.gravatar img {
	 width: 72px;
	-webkit-border-radius: 50%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 50%;
	-moz-background-clip: padding;
	border-radius: 50%;
	background-clip: padding-box;
	margin: 0 auto;
}

.comment-content .comment-meta {
	margin-left: 0;
	padding: 0px 18px 18px 18px;
	border-width: 0px;
	border-style: solid;
	border-color: transparent;
	-webkit-border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 2px;
	-moz-background-clip: padding;
	border-radius: 2px;
	background-clip: padding-box;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
}
.comment-content .comment-meta a {
	color: #888;
	border: 0;
}
.comment-content .comment-author {
	display: inline-block;
	margin: 0;
	font-weight: 600;
}
.comment-content .comment-meta-item,
.comment-content .comment-reply-link span {
	font-size: 12px;
}

.comment-content .comment-meta-item {
	margin-left: 18px;
	display: inline-block;
}
.comment-content .comment-meta p {
	margin: 9px 0px 0px 0px;
}
.comment-content .comment-reply-link {
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin: 0 0 0 18px;
	display: block;
	float: right;
}
.comment-content blockquote {
	background-color: #f5f5f5;
}
.comment-content blockquote,
.comment-content .well {
	font-size: 1em;
	padding: 9px;
	border-radius: 3px;
	color: #777;
	min-height: 20px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
@media (min-width: 960px) {
	.comment-content .gravatar {
		float: left;
	}
	.comment-content .gravatar img {
		display: block;
	}
	.comment-content .comment-meta {
		margin-left: 80px;
	}
	.comment-content .comment-reply-link {
		/*position: absolute;
		top: 0;
		right: 0;
		margin-top: 32px;*/
	}
}
/* FOOTER CONTENT
-------------------------------------------------- */

.footer {
    background: #292b2c;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: .5rem;
}
.footer .container-fluid {
    padding: 0;
}
.divider {
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #dfe1e5;
    margin: 2rem auto;
}
.footer .divider {
    background: #46484a;
    width: 100%;
    height: .1rem;
    margin: 2rem 0 1.5rem 0;
}
.footer .footer-title {
    color: #fff;
    margin-top: 0;
	font-size: 1.25rem;
	font-weight: 300;
}
.footer ul.nav-footer {
	list-style: none;
    float: left;
    padding: 0;
    width: 100%;
}
.footer ul.nav-footer li {
    display: block;
    float: left;
    margin-top: .5rem;
    width: 100%;
}
.header-top a,
.footer a {
	color: #a0a0a0;
    padding: 0;
}
.header-top a:hover,
.footer a:hover {
    color: #59a0d7;
}


/* scrollTop
-------------------------------------------------- */
.scrollTop{
	display:none;
	z-index:9999;
	width:40px;
	height:40px;
	text-align:center;
	font-size:24px;
	position:fixed;
	bottom:15px;
	right:15px;
	cursor:pointer;
	overflow:auto;
	border-radius:5px;
	background-color:#0275d8;
	color:#fff;
	border-color:#0275d8;
	transition:all .2s ease;
	opacity:.8;
	}
	.scrollTop:before{
		width:40px;
		height:40px;
		line-height:40px;
		color:#fff;
		}
	.scrollTop:hover{
		opacity:1;
		}

#loading-layer {
	display: none;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	z-index: 99999!important;
	}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* PRINT CSS
-------------------------------------------------- */

@media print {
[class*="col-sm-"], [class*="col-xs-"] {float: left;}
.col-sm-12, .col-xs-12 {width:100% !important;}
.col-sm-11, .col-xs-11 {width:91.66666667% !important;}
.col-sm-10, .col-xs-10 {width:83.33333333% !important;}
.col-sm-9, .col-xs-9 {width:75% !important;}
.col-sm-8, .col-xs-8 {width:66.66666667% !important;}
.col-sm-7, .col-xs-7 {width:58.33333333% !important;}
.col-sm-6, .col-xs-6 {width:50% !important;}
.col-sm-5, .col-xs-5 {width:41.66666667% !important;}
.col-sm-4, .col-xs-4 {width:33.33333333% !important;}
.col-sm-3, .col-xs-3 {width:25% !important;}
.col-sm-2, .col-xs-2 {width:16.66666667% !important;}
.col-sm-1, .col-xs-1 {width:8.33333333% !important;}
body {min-width: 768px;font-size: 12px;}
.container {width: auto;min-width: 750px;}
a[href]:after {content: none;}
.noprint {display:none !important;}
}